<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BMI Calculator</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header>
    <div class="container">
      <h1>BMI Calculator</h1>
    </div>
  </header>

  <div class="container">
    <form id="bmiForm" action="/bmicalculator" method="post">
      <label for="weight">Weight (kg/lbs):</label>
      <input type="text" id="weight" name="weight" required>

      <label for="height">Height (m/inches):</label>
      <input type="text" id="height" name="height" required>

      <label for="gender">Gender:</label>
      <select id="gender" name="gender" required>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>

      <label for="age">Age:</label>
      <input type="text" id="age" name="age" required>

      <label for="unit">Unit:</label>
      <select id="unit" name="unit" required>
        <option value="metric">Metric</option>
        <option value="imperial">Imperial</option>
      </select>

      <button type="submit">Calculate BMI</button>
    </form>

    <div id="bmiResultContainer" class="result-section">
      <p id="bmiResultText"></p>
    </div>
  </div>

  <footer>
    <div class="container">
      <p>Created by Zhunisbek Zangar, Group SE-2207.</p>
    </div>
  </footer>

  <script src="/js/script.js"></script>
</body>
</html>
